@CHARSET "UTF-8";
* {
    text-decoration: none;
    list-style: none;
}
body{
	background-color:transparent;
}
.panel-group {
    position: absolute;
    top: 5px;
    right: 0px;
}
.results-group .panel-heading{
	width:360px;
}
#bookMarkTools .select-scope{
	width: 100%;
    height: 40px;
    margin-top: -37px;
    padding-left: 90px;
    cursor:pointer;
}
#bookMarkTools .select-scope li{
	float:left;
    width: 48px;
    height:40px;
    border:1px solid #d5d5d5;    
    text-align:center;
}
#bookMarkTools .select-scope li:nth-child(n+2){
    border-left:none;
}
#bookMarkTools .select-scope .fa,#bookMarkTools .select-scope .iconfont{
	line-height: 40px;
	font-size: 28px;   
    color: #666;
}
#bookMarkTools .select-scope li.scope-active{
    background-color:#69aa46;
    box-shadow: 0px 0px 3px #666;
    -webkit-box-shadow: 0px 0px 3px #666;
	-moz-box-shadow: 0px 0px 3px #666;
} 
#bookMarkTools .select-scope .make-point.active{
	 background-color: #69aa46;
	 border:1px solid #69aa46;
}
#bookMarkTools .select-scope .make-line.active{
	background-color: #337ab7;
    border:1px solid #337ab7;
}
#bookMarkTools .select-scope .make-area.active{
    background-color: #fd9d37;
    border:1px solid #fd9d37;
}
#bookMarkTools .select-scope .make-info.active{
   	background-color: #52d8ef;
    border:1px solid #52d8ef;
}
#bookMarkTools .select-scope .make-clear.active{
    background-color: #f96868;
    border:1px solid #f96868;
}
 #bookMarkTools .select-scope .scope-list.active i{
   color:#fff; 
}
#bookMarkTools .panel-title::before{
	content:"";
}
#bookMarkTools .panel-title::after{
	content:"";
}
#bookMarkTools .select-scope .icon1{
	color:#69aa46;
}
#bookMarkTools .select-scope .icon2{
	color: #337ab7
}
#bookMarkTools .select-scope .icon3{
	color:#fd9d37;
}
#bookMarkTools .select-scope .icon4{
	color:#52d8ef;
}
#bookMarkTools .select-scope .fa-trash-o{
	color:#f96868;
}
/*是否在地图上显示  */
.show-btn .checkbox-custom{
    margin-bottom: 5px;
    padding-left: 25px;
}
/*标记内容部分  */
.make-content{
 	padding-left: 0px;	
 	margin-top: -15px;
}
.make-content .iconfont{ 
    position: relative;
    top: 50%;
    left: 30%;
    font-size: 24px;
    -webkit-transform: translateY(15%);
	-ms-transform: translateY(15%);
	-o-transform: translateY(15%);
    transform: translateY(15%);
}
.make-content .icon-iconset0391{
	color: #69aa46;
}
.make-content .icon-zhexiantu{
	color: #337ab7
}
.make-content .icon-mianji{
	color:#fd9d37;
}
.make-content button{
	margin-right:5px;
}
.padding-bottom{
	padding-bottom:8px;
	border-bottom:1px solid #CCC;
}
.padding-top{
	padding-top:8px;
	padding-bottom:8px;	
	border-bottom:1px solid #CCC;	
}
.footable-even:hover{
	background-color:#f9f9f9;
}
.footable-odd:hover{
	background-color:#f9f9f9;	
}